<!DOCTYPE html>
<html>
<head>
  <title>Wineblog2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Home</a>
    <ul class="nav">
      <li class="active"><a href="#">Current Tastings</a></li>
      <li><a href="#">Schedule</a></li>
      <li><a href="#">Past Tastings</a></li>
      <li><a href="#">Wines</a></li>
      <li><% if user_signed_in? %>
        <li><a href="#"><%= current_user.email%></a></li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
          <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>  
        </li>
          <% end %></li>
    </ul>
  </div>
</div>
<%= yield %>


</body>
</html>
